{% extends 'app/medecin/layouts/default.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      </ol>
    </div>

    <div class="row">
        <div class="col">
            <!-- Select2 -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Nouveau Cabinet</h6>
                </div>
                <div class="card-body">
                    <form action="{% url 'cabinets_store' %}" method="POST"> 
                        {% csrf_token %} 
                        <div class="col">
                            <div class="form-group">
                                <label>Provinces</label>
                                    <select name='province' id='id_province' class='form-control'>
                                        <option value="">--------------</option>
                                        {% for province in provinces %}
                                        <option value="{{ province.id }}">{{ province.nom }}</option>
                                        {% endfor%}
                                    </select>
                            </div>    
                            <div class="form-group">
                                <label>Commune</label>
                                    <select name='commune' id='commune_id' class='form-control'>
                                        <option value="">--------------</option>
                                        {% for commune in communes %}
                                        <option value="{{ commune.id }}">{{ commune.nom }}</option>
                                        {% endfor%}
                                    </select>
                            </div>                  
                            <div class="form-group">
                                {{ form.zone|as_crispy_field }}
                            </div>           
                            <div class="form-group">
                                {{ form.adresse_complete|as_crispy_field }}
                            </div>    
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{ form.nom|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                {{ form.medecin|as_crispy_field }}
                            </div>
                            <div class="form-group">
                                {{ form.description|as_crispy_field }}
                            </div>
                        </div>
                        <div class="text-center">
                            <br>
                            <button type="submit" class="btn btn-primary mb-1">Enregistrer</button>
                            <button type="reset" class="btn btn-outline-primary mb-1">Réinitialiser</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Row-->
</div>
{% endblock %}