
{% extends 'app/medecin/layouts/default.html' %}
{% block content %}

<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    </div>

    <!-- Row -->
    <div class="row">
      <!-- DataTable with Hover -->
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Cabinet</h6>
            <a href="{% url 'cabinets_add'%}" class="btn btn-sm btn-primary">
              Nouveau cabinet</a>
          </div>

          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
          <i class="fas fa-alert mr-1"></i>{{ message }}
          <button type="button" class="close" data-dismiss ="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>
          {% endfor %}
          {% endif %}
          <div class="table-responsive p-3">
            <table class="table align-items-center table-flush table-hover" id="dataTableHover">
              <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>Nom</th>
                  <th>Adrèsse Complète</th>
                  <th>Zone</th>
                  <th>Commune</th>
                  <th>Province</th>
                  <th>MODIFIER</th>
                  <th>SUPPRIMER</th>
                </tr>
              </thead>
              <tbody>
                {% for cabinet in cabinets %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ cabinet.nom }}</td>
                  <td>{{ cabinet.adresse_complete }}</td>
                  <td>{{ cabinet.zone.nom }}</td>
                  <td>{{ cabinet.zone.commune.nom }}</td>
                  <td>{{ cabinet.zone.commune.province.nom }}</td>
                  <td>
                    <a
                    href="{% url 'cabinets_edit' cabinet.id %}"
                    class="btn btn-primary mb-1">Modifier<a>
                  </td>
                  <td>
                    <form
                    action="{% url 'cabinets_delete' cabinet.id %}"
                    method="post"
                    >
                    {% csrf_token %}
                    <button
                    type="submit"
                    onclick="return confirm('Voulez vous vraiment supprimer cet cabinet ? ')"
                    class="btn btn-danger mb-1">supprimer
                  </button>
                </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  {% endblock %}