<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon">
        <img src="img/logo/logo2.png">
      </div>
      <div class="sidebar-brand-text mx-3">RuangAdmin</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
      Adresse
    </div>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
        aria-expanded="true" aria-controls="collapseBootstrap">
        <i class="far fa-fw fa-window-maximize"></i>
        <span>Province</span>
      </a>
      <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{% url 'provinces_add' %}">Ajouter</a>
          <a class="collapse-item" href="{% url 'provinces_index' %}">Afficher</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
        aria-controls="collapseForm">
        <i class="fab fa-fw fa-wpforms"></i>
        <span>Commune</span>
      </a>
      <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{% url 'communes_add' %}">Ajouter</a>
          <a class="collapse-item" href="{% url 'communes_index' %}">Afficher</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable" aria-expanded="true"
        aria-controls="collapseTable">
        <i class="fas fa-fw fa-table"></i>
        <span>Zone</span>
      </a>
      <div id="collapseTable" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{% url 'zones_add' %}">Ajouter</a>
          <a class="collapse-item" href="{% url 'zones_index' %}">Afficher</a>
        </div>
      </div>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
      Utilisateur
     </div>
     <li class="nav-item">
       
       <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseage" aria-expanded="true"
         aria-controls="collapsePage">
         <i class="fas fa-fw fa-columns"></i>
         <span>Utilisateur</span>
       </a>
       <div id="collapseage" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
         <div class="bg-white py-2 collapse-inner rounded">
           <a class="collapse-item" href="{% url 'users_add' %}">Ajouter</a>
           <a class="collapse-item" href="{% url 'users_index' %}">Afficher</a>
         </div>
       </div>
     </li>
     <hr class="sidebar-divider">
    <div class="sidebar-heading">
     Medecin
    </div>

    <li class="nav-item">
      
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePage" aria-expanded="true"
        aria-controls="collapsePage">
        <i class="fas fa-fw fa-columns"></i>
        <span>Specialite</span>
      </a>
      <div id="collapsePage" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{% url 'specialites_add' %}">Ajouter</a>
          <a class="collapse-item" href="{% url 'specialites_index' %}">Afficher</a>
        </div>
      </div>
    </li>

    <li class="nav-item">
      
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePaga" aria-expanded="true"
        aria-controls="collapsePage">
        <i class="fas fa-fw fa-columns"></i>
        <span>Medecin</span>
      </a>
      <div id="collapsePaga" class="collapse" aria-labelledby="headingPage" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{% url 'medecins_add' %}">Ajouter</a>
          <a class="collapse-item" href="{% url 'medecins_index' %}">Afficher</a>
        </div>
      </div>
    </li>
    <hr class="sidebar-divider">
    
    <li class="nav-item">
      <a class="nav-link" href="{% url 'user_logout' %}">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Se deconnecter</span>
      </a>
    </li>
  </ul>