<!DOCTYPE html>
<html lang="en">
 {% include 'app/public/partials/head.html' %}
    <body>
        <!-- Navigation-->
        {% include 'app/public/partials/nav.html' %}
        <!-- Header-->
        <!-- main-->
        {% block content %}
        {% endblock content %}
        <!-- fin main-->
        <!-- Footer-->
        {% include 'app/public/partials/footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>\
        {% load static %}
        <!-- Core theme JS-->
        <script src="{% static 'app/public/js/scripts.js' %}"></script>
    </body>
</html>
