{% extends 'app/receptioniste/layouts/default.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      </ol>
    </div>

    <div class="row">
        <div class="col">
            <!-- Select2 -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Nouveau horaire</h6>
                </div>
                <div class="card-body">
                    <form action="{% url 'horaires_store' %}" method="POST"> 
                        {% csrf_token %}             
                        <div class="form-group">
                            {{ form.cabinet|as_crispy_field }}
                            {{ form.date|as_crispy_field }}
                            {{ form.heure_debut|as_crispy_field }}
                            {{ form.heure_fin|as_crispy_field }}
                        </div>
                        <div class="text-center">
                            <br>
                            <button type="submit" class="btn btn-primary mb-1">Enregistrer</button>
                            <button type="reset" class="btn btn-outline-primary mb-1">Réinitialiser</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Row-->
</div>
{% endblock %}